body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    background: #f7f7f7;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:60px;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Custom CSS*/
.navbar-inverse {
    background: #fff;
    border: none;
    padding: 15px;
}

    .navbar-inverse .navbar-brand {
        color: #000;
        font-weight: 900;
        font-size: 20px;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #000;
        font-weight: 700;
        font-size: 15px;
    }

        .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
            color: #000;
        }

    .navbar-inverse .notifications {
        position: relative;
    }

        .navbar-inverse .notifications .badge {
            position: absolute;
            top: 8px;
            right: -1px;
            background: #e20a0a;
        }

.event-list {
    display: flex;
    padding: 10px;
}

.date {
    background: #ccc;
    border-radius: 5px;
    text-align: center;
}

.details {
    padding: 2px 15px;
}

.month {
    font-size: 20px;
    font-weight: 700;
}

.day {
    font-size: 40px;
    font-weight: 900;
    background: #9b59b6;
    padding: 2px 10px;
    color: #fff;
    border-radius: 5px;
}

.name {
    font-size: 30px;
}

.events > li .my-actions {
    display: none;
}


.events > li:hover .my-actions {
    display: block;
}


ul.notifications {
    list-style: none;
    padding-left: 0;
}

    ul.notifications > li {
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
    }

        ul.notifications > li:last-child {
            border-bottom: none;
        }

    ul.notifications .highlight {
        font-weight: bold;
    }


.popover {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.search-group {
    width: 300px;
}


.search-section {
    padding-top: 15px;
}


.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #000;
    background-color: transparent;
}

.navbar-brand {
    text-transform: uppercase;
}

.nav-search-box {
    padding-left: 25%;
    padding-top: 0px;
    margin-top: -10px;
}


.nav-search-textbox {
    border-radius: 15px;
    float: left;
    max-width: 100%;
    width: 450px;
    padding: 18px 12px;
    font-size: 15px;
}


.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.event-list {
    background: #fff;
    border-radius: 10px;
}

.footer-top {
    background: #263238;
    padding: 37px 10px;
    color: #fff;
    margin: 20px 0;
}

.advance-event-search {
    background: #00b657;
    padding: 30px 40px 40px 0;
    text-align: center;
}