body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Lato', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Custom CSS*/
.navbar-inverse {
    background: #9b59b6;
}

    .navbar-inverse .navbar-brand {
        color: #f39c12;
        font-weight: 900;
        font-size: 20px;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #ecf0f1;
        font-size: 15px;
    }

        .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
            color: #fff;
            background-color: #712a8e;
        }
    .navbar-inverse .notifications {
        position:relative;
    }

        .navbar-inverse .notifications .badge {
            position: absolute;
            top: 8px;
            right: -1px;
            background: #e20a0a;
        }

.event-list {
    display: flex;
    padding: 10px;
}

.date {
    background: #ccc;
    border-radius: 5px;
    text-align: center;
}

.details {
    padding: 2px 15px;
}

.month {
    font-size: 20px;
    font-weight: 700;
}

.day {
    font-size: 40px;
    font-weight: 900;
    background: #9b59b6;
    padding: 2px 10px;
    color: #fff;
    border-radius: 5px;
}

.name {
    font-size: 30px;
}

.events > li .my-actions {
    display: none;
}


.events > li:hover .my-actions {
    display: block;
}


